@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #382933;
  margin-bottom: 30px;
  color: #FFFFFF;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2 {
  font-family: "Monsterrat", sans-serif;
  font-weight: 400;
}

header li {
  font-family: "Baloo Da 2", cursive;
}

header a {
  color: inherit;
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}

.container .section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 200px;
}

footer {
  background-color: #382933;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
}

footer p {
  margin-left: 10px;
}

footer a {
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.container .contact-img {
  margin-bottom: 20px;
}

.container p {
  font-family: "Roboto", sans-serif;
  font-size: calc(20px + .25vw);
  margin-bottom: 20px;
}

.email a {
  color: #321f28;
}

.email a:hover {
  color: #513341;
}

.group a {
  color: #321f28;
}

.group a:hover {
  color: #513341;
}
